{{define "title"}}Logout{{end}}
{{define "content"}}
    {{template "topdoc"}}

    {{if .LoggedIn}}
        <script>
            deleteCookie();
            window.location.href = "/";
        </script>
    {{else}}
        <script>
            window.location.href = "/";
        </script>
    {{end}}

    {{template "botdoc"}}
{{end}}