{{define "title"}}Weebs Kingdom Terms and Conditions{{end}}
{{define "content"}}
    {{template "topdoc"}}

    {{template "navbar" .}}

    {{template "underConstruction"}}

    {{template "footer"}}
    {{template "botdoc"}}
{{end}}